<div>
  <header>
    <div class="button button--back"></div>
    <div class="image image--header"></div>    
    <div class="button button--menu" (click)="menuSideService.toggleMenu()"></div>
  </header>
  <div class="subheader">TV</div>
  <main>
    <app-films-list></app-films-list>
  </main>
  <footer>
    <span>Powered by</span>
    <div class="image image--footer"></div>
  </footer>
</div>
<app-menu-side [@slideInOut]="menuSideService.menuState" (onToogle)="menuSideService.toggleMenu()"></app-menu-side>
