header {
    height: 56px;
    width: 100%;
    background-color: #efefef;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .button {
        width: 25px;
        height: 25px;
        margin: 0.5rem;
        cursor: pointer;
        &--back {
            background: no-repeat center url('../assets/Icons/ic_back.png');
            background-size: contain;
        }
        &--menu {
            background: no-repeat center url('../assets/Icons/ic_burger.png');
            background-size: contain;            
        }
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #efefef;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #d1d1d1;
    span {
        font-size: 0.8rem;
        color: gray;
    }
}

.image {
    width: 395px;
    height: 52px;
    &--header {
        background: no-repeat url('../assets/Icons/logo_header.png');
        background-size: contain;
    }
    &--footer {
        background: no-repeat center url('../assets/Icons/logo_footer.png');
    }
}

.subheader {
    background-color: black;
    color: #efefef;
    height: 2rem;
    text-align: center;
    padding: 0.5rem;
}


@media all and (max-width: 687px) {
    .image {
        &--header {
            background: no-repeat center url('../assets/Icons/logo_header-min.png');
        }
        &--footer {
            width: 220px;
            height: 29px;
            background: no-repeat center url('../assets/Icons/logo_footer-min.png');
        }
    }
}