<header>
  <div class="image--header"></div>    
</header>
<div class="subheader">TV</div>
<div class="content">
  <div class="film__container">
    <div class="poster"></div>
    <div class="description">
      <div class="name">Alan Partridge Mid Morning Matters</div>
      <div class="info">
        <span>6 Episodes</span>
        <span>15</span>
        <span>2015</span>
      </div>
    </div>
  </div>
  <div class="film__container">
      <div class="poster"></div>
      <div class="description">
        <div class="name">Alan Partridge Mid Morning Matters</div>
        <div class="info">
          <span>6 Episodes</span>
          <span>15</span>
          <span>2015</span>
        </div>
      </div>
    </div>
    <div class="film__container">
        <div class="poster"></div>
        <div class="description">
          <div class="name">Alan Partridge Mid Morning Matters</div>
          <div class="info">
            <span>6 Episodes</span>
            <span>15</span>
            <span>2015</span>
          </div>
        </div>
      </div>
      <div class="film__container">
          <div class="poster"></div>
          <div class="description">
            <div class="name">Alan Partridge Mid Morning Matters</div>
            <div class="info">
              <span>6 Episodes</span>
              <span>15</span>
              <span>2015</span>
            </div>
          </div>
        </div>
</div>
<footer>
  <span>Powered by</span>
  <div class="image--footer"></div>
</footer>